In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('50_startups.csv')
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
X=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])],remainder='passthrough')
X=np.array(ct.fit_transform(X))

In [5]:
from sklearn.model_selection import train_test_split
X_test,X_train,y_test,y_train=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
sc_y=StandardScaler()
X=sc_x.fit_transform(X)
y=sc_y.fit_transform(y)

In [6]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [7]:
y_pred=regressor.predict(X_test)

In [8]:
np.set_printoptions(precision=2)

In [10]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[101542.16  96778.92]
 [ 95366.65  96479.51]
 [114989.56 105733.54]
 [ 85366.66  96712.8 ]
 [129438.68 124266.9 ]
 [157637.93 155752.6 ]
 [148726.27 132602.65]
 [ 55091.85  64926.08]
 [ 67347.83  35673.41]
 [104523.54 101004.64]
 [148477.43 129917.04]
 [109436.94  99937.59]
 [111244.88  97427.84]
 [118202.71 126992.93]
 [ 77746.77  71498.49]
 [116788.1  118474.03]
 [ 66413.45  69758.98]
 [147633.14 152211.77]
 [128750.78 134307.35]
 [107419.73 107404.34]
 [164572.68 156991.12]
 [125996.5  125370.37]
 [ 77600.54  78239.91]
 [ 56409.03  14681.4 ]
 [182884.09 191792.06]
 [130599.99 141585.52]
 [102241.72  89949.14]
 [123011.93 108552.04]
 [169318.03 156122.51]
 [108798.92 108733.99]
 [ 73712.25  90708.19]
 [109270.94 111313.02]
 [126828.72 122776.86]
 [159794.12 149759.96]
 [ 92527.26  81005.76]
 [ 47789.06  49490.75]
 [171824.13 182901.99]
 [184465.15 192261.83]
 [ 54750.6   42559.73]
 [ 70339.68  65200.33]]

In [11]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

0.8924541940135804